body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  display: flex;
  gap: 20px;
}

.users, .chat {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
}

#messages {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
